body{
    background:#f5f7fb;
}

.sidebar{
    width:240px;
    min-height:100vh;
    transition:.3s;
}

.sidebar.hide{
    margin-left:-240px;
}

.menu{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    margin-bottom:8px;
    transition:.2s;
}

.menu:hover{
    background:#0d6efd;
    color:white;
}

.content{
    overflow-x:auto;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.table{
    background:white;
}

@media(max-width:768px){
    .sidebar{
        position:fixed;
        z-index:999;
}
.content{
    margin-left:0;
}

}